.shrine-container {
    margin: 0 auto;
    background-image: url('../images/helga/shrine.png');
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

.uploaded-image {
    position: absolute;
}